<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="AWSAccessKey" value="***" />
    <add key="AWSSecretKey" value="***" />
    <add key="AWSRegion" value="***" />
    <add key="AWSBucket" value="***"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Aspose.PDF" publicKeyToken="716fcc553a201e56" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.8.0.0" newVersion="18.8.0.0"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Imaging" publicKeyToken="716fcc553a201e56" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-18.6.0.0" newVersion="18.6.0.0"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
