<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.25" targetFramework="net35" />
  <package id="AWSSDK.S3" version="3.3.21" targetFramework="net35" />
  <package id="GroupDocs.Viewer" version="18.8.1" targetFramework="net45" />
  <package id="GroupDocs.Viewer.AmazonS3Storage" version="18.8.0" targetFramework="net35" />
</packages>